@page "/thong-ke-doanh-thu"
@using RestSharp
@using System.Net
@using AUTO.HLT.CRM.Models.TopUp
@using Newtonsoft.Json
@using System.Globalization

<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Thống kê doanh thu</a>
</nav>

<div class="alert alert-primary text-lg-center" role="alert">
    Tổng doanh số : @_doanhSo
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID người nhận</th>
            <th scope="col">Ngày</th>
            <th scope="col">Tiền</th>
            <th scope="col">Chiết khấu</th>
        </tr>
    </thead>


    <tbody>
        @if (_lsTopup != null && _lsTopup.Any())
        {
            foreach (var item in _lsTopup)
            {
                <tr>
                    <th scope="row">@item.Stt</th>
                    <td>@item.ID_Receive</td>
                    <td>@item.DateCreate</td>
                    <td>@string.Format(new CultureInfo("en-US"), "{0:0,0} VND", item.Price)</td>
                    <td>@item.Discount %</td>
                </tr>
            }
        }
    </tbody>
</table>


@code
{
    private string _uriUser = "https://api.autohlt.com/api/v1/MoneyTransferHistory/all";
    private List<TopUpModel> _dataSourceTopup;
    private List<TopUpModel> _lsTopup;
    private ulong _totalDoanhSo;
    private string _doanhSo;

    protected override async Task OnInitializedAsync()
    {
        await InitData();
    }


    private async Task InitData()
    {
        var client = new RestClient();
        client.BaseUrl = new Uri(_uriUser);
        var request = new RestRequest(Method.GET);

        var response = await client.ExecuteAsync(request);
        var html = response?.Content;
        var data = response.StatusCode == HttpStatusCode.OK
            ? JsonConvert.DeserializeObject<HistoryTopUpModel>(html)
            : default;
        if (data != null && data.Code > 0 && data.Data != null && data.Data.Any())
        {
            _dataSourceTopup = new List<TopUpModel>(data.Data.OrderByDescending(x => x.DateCreate));
            var i = 1;
            foreach (var user in _dataSourceTopup)
            {
                user.Stt = i;
                i++;
                _totalDoanhSo += ulong.Parse(user.Price + "");
            }
            _lsTopup = new List<TopUpModel>(_dataSourceTopup);
            _doanhSo = string.Format(new CultureInfo("en-US"), "{0:0,0} VND", _totalDoanhSo);
        }
    }
}
